<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="{{bodyClass}}">
  <nav>
    {{!-- here we separate the links into divs in order to use flexbox to space the links out to each end of the screen. (auth links to the far right and other links for the app in the far left) --}}
    {{!-- <div> --}}
      {{!-- <a href="/">Sign In</a> --}}
      {{!-- <a href="/boards">My LOP Board</a> --}}
    {{!-- </div> --}}
    <div>
      <a href="/">Home</a>
      <a href="/users/profile">Boards</a>
    </div>
    <div>
      {{#if currentUser}}
      <span>Hi, {{ currentUser.username }}</span>
      <a href="/users/profile"><img src={{currentUser.avatar}} alt="avatar"></a>
      <a href="/auth/logout">Logout</a>
      {{else}}
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      {{/if}}
    </div>
  </nav>
  {{{body}}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>