<div id="board-details">
  <h1>{{boardFromDB.title}}</h1>
  <input type="hidden" id="boardTitle" value="{{boardFromDB.title}}">
  <input type="hidden" id="boardId" value="{{boardFromDB._id}}">
  <button class="btn-primary" id="update-board-button">Update Board</button>
  <button class="btn-primary" id="create-meme-button">Add new meme</button>
</div>
<div class="card-columns m-5">
  {{#each boardFromDB.memes}}
  <div class="card p-4">
    <img src="{{this.meme}}" class="card-img-top m-2" alt="meme">
    <div class="m-3">
      <form method="POST" action="/boards/remove-meme">
        <input type="hidden" id="hiddenInput" value="{{this._id}}" name="memeId">
        <button type="submit">Remove from board</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>

<script src="../../javascripts/board-dom.js"></script>