{{#unless currentUser}}
<a href="auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>
{{/unless}}
{{#if userFromDB}}
<div id="profile-container">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img id="userpic" src="{{userFromDB.avatar}}" alt="userpic" class="img-responsive">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <p>{{userFromDB.username}} !</p>
          </div>
        </div>
        <div class="follow-class">
            <p>Followers: {{userFromDB.followers.length}}</p>
            <p>Following: {{userFromDB.following.length}}</p>
          <div class="profile-userbuttons">
            {{#if message}}
            <form action="/users/unfollow" method="POST">
              <input type="hidden" name="otherUserId" value="{{userFromDB._id}}">
              <input type="hidden" name="currentUserId" value="{{currentUser._id}}">
              <button class="btn btn-secondary btn-sm" type="submit">Unfollow</button>
              {{else}}
              <form action="/users/follow" method="POST">
                <input type="hidden" name="otherUserId" value="{{userFromDB._id}}">
                <input type="hidden" name="currentUserId" value="{{currentUser._id}}">
                <button class="btn btn-secondary btn-sm" type="submit">Follow</button>
                {{/if}}
              </form>
          </div>
        </div>
<<<<<<< HEAD



        <!-- USER BOARDS TITLE -->
        <div class="col-md-9" style="margin-left: 250px;">
          <div class="profile-content">
            {{#each userFromDB.userBoards}}
            <!-- EACH BOARD ITEM -->
            <div class="container">
              <div class="row">
                <div class="col-3 col-sm-3 col-md-3 image-grid-item">
                  <div style="background-image: " class="image-grid-cover">
                    {{!-- -=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=- --}}
                    <a type="anchor" class="created-board" href="/boards/{{this._id}}">{{this.title}}</a>
                    {{!-- -=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=- --}}
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
            <!-- EACH BOARD ITEM END -->

            <!-- USER BOARDS TITLE END -->
          </div>
        </div>
        <br>
        <br>
        {{/if}}
=======
      </div>
        </div>
  <div id="userboard-container">
    {{#each userFromDB.userBoards}}
      <div class="profile-sidebar-all-users">
        <div class="profile-userpic">
          {{#if this.memes.0.meme}}
          <img id="userpic" src="{{this.memes.0.meme}}" alt="userpic" class="img-responsive">
          {{else}}
          <img id="userpic" src="/images/troll-face.png" alt="userpic" class="img-responsive">
          {{/if}}
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <p>{{this.title}}</p>
            <a class="btn btn-secondary btn-sm" href="/boards/{{this._id}}">Visit board</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
{{/if}}
>>>>>>> 23134c7f11245c01ad1e145204b8c76520239b28
