{{!-- If User is not logged in, display: --}}
{{#unless currentUser}}
<a href="auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>
{{/unless}}
<!-- SIDEBAR USER AVATAR -->
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
          <img id="user-avatar" src="{{currentUser.avatar}}" alt="user_avatar" height="200" width="200" class="img-responsive"> 
				</div>
				<!-- END SIDEBAR USER AVATAR -->



				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<p>Hey {{currentUser.username}} !</p>
					</div>
          <div>
            <input type="hidden" id="hidden1" value="{{currentUser.username}}">
            <input type="hidden" id="hidden2" value="{{currentUser.email}}">
            <button id="update-button" class="btn btn-secondary btn-sm">Update Profile</button>
          </div>
				</div>
				<!-- END SIDEBAR USER TITLE -->



        <!-- FOLLOWERS -->
        <div class="follow-class">
          <p>Followers: {{currentUser.userFollowers.[{i}]}}</p>
          <p>Following: {{currentUser.userFollowed.length}}</p>
        </div>
        <!-- END FOLLOWERS -->



				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-secondary btn-sm">Follow</button>
					<button type="button" class="btn btn-secondary btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->


        
			</div>
		</div>



         <!-- USER BOARDS TITLE -->
		    <div class="col-md-9">
            <div class="profile-content">
              <p>{{#each currentUser.userBoards}}</p>
              <a class="btn btn-secondary btn-sm" href="/boards/{{this._id}}">{{this.title}}</a>
              {{/each}}
                <form class="user-board" action="/boards/create" method="POST" id="form-container">
                  <label for="title">Title</label>
                  <input id="title" type="text" name="title" placeholder="Board Title Here...">
                  <br><br>
                    {{#if message }}
                      <div class="error-message">{{ message }}</div>
                    {{/if}}
                  <br><br>
                  <button>Create Board</button>
                </form>
        </div>
        <!-- USER BOARDS TITLE END -->



        <!-- USER BOARDS -->
        <div>
           
        </div>
        <!-- USER BOARDS END -->



		</div>
	</div>
</div>
<br>
<br>



{{!-- OLD USER PROFILE --}}

{{!-- User Info --}}
{{!-- <article>
  <img id="user-avatar" src="{{currentUser.avatar}}" alt="user_avatar" height="200" width="200"> 
</article> --}}
<ul id="userDetails">
  {{!-- <li>Hey {{currentUser.username}} !</li>
  <li>Email: {{currentUser.email}}</li> --}}
  {{!-- <input type="hidden" id="hidden1" value="{{currentUser.username}}">
  <input type="hidden" id="hidden2" value="{{currentUser.email}}">
  <button id="update-button">Update Profile</button>
</ul> --}}
<ul>
  {{!-- <li>Followers: {{currentUser.userFollowers.[{i}]}}</li>
  <li>Following: {{currentUser.userFollowed.length}}</li> --}}
  {{!-- <li>Boards:
    <ul>{{#each currentUser.userBoards}}
      <li>
        <a href="/boards/{{this._id}}"> {{this.title}}</a>
      </li>
        {{/each}}
    </ul>
  </li>
</ul>
</article> --}}
​
{{!-- <form class="user-board" action="/boards/create" method="POST" id="form-container">
  <label for="title">Title</label>
  <input id="title" type="text" name="title" placeholder="Board Title Here...">
  <br><br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
  <button>Create Board</button>
</form> --}}
​
{{!-- Boards --}}
{{!-- <article>
  <div></div>
  </div>
<ul>
 <img src="{{meme}}" alt="" height="200" width="200"> 
  <img src="{{meme}}" alt="" height="200" width="200"> 
</ul>
</article> --}}
​
<script src="/javascripts/userProfile-DOM.js"></script>