{{#unless currentUser}}
<a href="auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>
{{/unless}}
<div id="profile-container">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img id="userpic" src="{{currentUser.avatar}}" alt="userpic" class="img-responsive">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <p>Hey {{currentUser.username}} !</p>
          </div>
          <div>
            <input type="hidden" id="hidden1" value="{{currentUser.username}}">
            <input type="hidden" id="hidden2" value="{{currentUser.email}}">
            <button id="update-button" class="btn btn-secondary btn-sm">Update Profile</button>
          </div>
        </div>
        <div class="follow-class">
          <br>
          <span>Followers: {{currentUser.followers.length}}</span>
          <br>
          <span>Following: {{currentUser.following.length}}</span>
        <form class="user-board" action="/boards/create" method="POST" id="form-container">
          <br>
          <input id="title" type="text" name="title" placeholder="Board Title Here...">
          <button class="btn btn-secondary btn-sm">Create Board</button>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}
          <br><br>
        </form>
        </div>
    </div>
    <div id="userboard-container">
      {{#each currentUser.userBoards}}
          <div class="profile-sidebar-all-users">
            <div class="profile-userpic">
              {{#if this.memes.0.meme}}
              <img id="userpic" src="{{this.memes.0.meme}}" alt="userpic" class="img-responsive">
              {{else}}
              <img id="userpic" src="/images/troll-face.png" alt="userpic" class="img-responsive">
              {{/if}}
            </div>
            <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              <p>{{this.title}}</p>
              <a class="btn btn-secondary btn-sm" href="/boards/{{this._id}}">Visit board</a>
            </div>
            </div>
        </div>
    {{/each}}
      </div>
    </div>
​
<script src="/javascripts/userProfile-DOM.js"></script>