{{!-- If User is not logged in, display: --}}
{{#unless currentUser}}
<a href="auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>
{{/unless}}
<!-- SIDEBAR USER AVATAR -->
<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img id="userpic" src="{{currentUser.avatar}}" alt="userpic" class="img-responsive">
        </div>
        <!-- END SIDEBAR USER AVATAR -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <p>Hey {{currentUser.username}} !</p>
          </div>
          <div>
            <input type="hidden" id="hidden1" value="{{currentUser.username}}">
            <input type="hidden" id="hidden2" value="{{currentUser.email}}">
            <button id="update-button" class="btn btn-secondary btn-sm">Update Profile</button>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- FOLLOWERS -->
        <div class="follow-class">
          <br>
          <span>Followers: {{currentUser.followers.length}}</span>
          <br>
          <span>Following: {{currentUser.following.length}}</span>
        <form class="user-board" action="/boards/create" method="POST" id="form-container">
          <br>
          <input id="title" type="text" name="title" placeholder="Board Title Here...">
          <button class="btn btn-secondary btn-sm">Create Board</button>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}
          <br><br>
          
        </form>
        </div>
        <!-- END FOLLOWERS -->
      </div>
    </div>
    <!-- USER BOARDS TITLE -->
    <div class="col-md-9">
      <div id="container-all-users" class="profile-content">
      {{#each currentUser.userBoards}}
      <div id="container-all-users" class="container">
      <div class="row profile">
        <div class="col-md-3">
          <div class="profile-sidebar-all-users" style="position: relative">
        <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img id="userpic" src="{{this.memes.0.meme}}" alt="userpic" class="img-responsive">
            </div>
        <!-- END SIDEBAR USER AVATAR -->
        <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              <p>{{this.title}}</p>
              <a class="btn btn-secondary btn-sm" href="/boards/{{this._id}}">Visit board</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
        <!-- EACH BOARD ITEM END -->
      </div>
      <!-- USER BOARDS TITLE END -->
    </div>
  </div>
</div>
<br>
<br>
​
<script src="/javascripts/userProfile-DOM.js"></script>