<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="auth-form" action="/users/search" method="GET" id="form-container">
        <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" name="username" type="text"
              placeholder="Search for users" />
          </div>
          <div class="col-auto">
            <button class="btn btn-primary btn-lg" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- If User is not logged in, display: --}}
{{#unless currentUser}}
<a href="auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>
{{/unless}}
<!-- SIDEBAR USER AVATAR -->
<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img id="userpic" src="{{currentUser.avatar}}" alt="userpic" class="img-responsive">
        </div>
        <!-- END SIDEBAR USER AVATAR -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <p>Hey {{currentUser.username}} !</p>
          </div>
          <div>
            <input type="hidden" id="hidden1" value="{{currentUser.username}}">
            <input type="hidden" id="hidden2" value="{{currentUser.email}}">
            <button id="update-button" class="btn btn-secondary btn-sm">Update Profile</button>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- FOLLOWERS -->
        <div class="follow-class">
          <br>
          <span>Followers: {{currentUser.followers.length}}</span>
          <br>
          <span>Following: {{currentUser.following.length}}</span>
          <form class="user-board" action="/boards/create" method="POST" id="form-container">
            <br>
            <input id="title" type="text" name="title" placeholder="Board Title Here...">
            <button class="btn btn-secondary btn-sm">Create Board</button>
            {{#if message }}
            <div class="error-message">{{ message }}</div>
            {{/if}}
            <br><br>

          </form>
        </div>
        <!-- END FOLLOWERS -->
      </div>
    </div>
    <!-- USER BOARDS TITLE -->
    <div class=div class="container">
      <div class="profile-content">
        {{#each currentUser.userBoards}}
        <!-- EACH BOARD ITEM -->
        <div class="container">
          <div class="row">
            <div class="col-3 col-sm-3 col-md-3 image-grid-item">
              <div style="background-image: " class="image-grid-cover">
                {{!-- -=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=- --}}
                <a type="anchor" class="created-board" href="/boards/{{this._id}}">{{this.title}}</a>
                {{!-- -=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=- --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <!-- EACH BOARD ITEM END -->
  </div>
  <!-- USER BOARDS TITLE END -->
</div>
</div>
</div>
<br>
<br>
​
<script src="/javascripts/userProfile-DOM.js"></script>