{{!-- If User is not logged in, display: --}}
​
{{#unless currentUser}}
<a href="auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>
{{/unless}}



				<!-- SIDEBAR USER AVATAR -->
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
          <img id="userpic" src="{{currentUser.avatar}}" alt="userpic" class="img-responsive"> 
				</div>
				<!-- END SIDEBAR USER AVATAR -->



				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<p>Hey {{currentUser.username}} !</p>
					</div>
          <div>
            <input type="hidden" id="hidden1" value="{{currentUser.username}}">
            <input type="hidden" id="hidden2" value="{{currentUser.email}}">
            <button id="update-button" class="btn btn-secondary btn-sm">Update Profile</button>
          </div>
				</div>
				<!-- END SIDEBAR USER TITLE -->



        <!-- FOLLOWERS -->
        <div class="follow-class">
          <p>Followers: {{currentUser.userFollowers.[{i}]}}</p>
          <p>Following: {{currentUser.userFollowed.length}}</p>
        </div>
        <!-- END FOLLOWERS -->



				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-secondary btn-sm">Follow</button>
					<button type="button" class="btn btn-secondary btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->


        
			</div>
		</div>


<!-- USER BOARDS TITLE -->

{{!-- create button in profile div 
create a div with input in the middle
make sure that newly added boards appear where you'd like them to --}}

 <!-- USER BOARDS TITLE END -->






         <!-- USER BOARDS TITLE -->
		    {{!-- <div class="col-md-9">
            <div class="profile-content">
              <p> {{#each currentUser.userBoards}} </p>
              <!-- EACH BOARD ITEM -->
              <div class="container">
                <div class="row">
						      <div class="col-12 col-sm-6 col-md-4 image-grid-item">
							      <div style="background-image: " class="image-grid-cover">
								    <a type="anchor" class="created-board" href="/boards"> {{this._id}}{{this.title}} </a>
								    <input id="title" type="text" name="title"placeholder="Board Title Here...">
							      </div>
						      </div>
                </div>
              </div>
              {{/each}}
              <!-- EACH BOARD ITEM END -->
                <form class="user-board" action="/boards/create" method="POST" id="form-container">
                  <label for="title">Title</label>
                  
                  <br><br>
                    {{#if message }}
                      <div class="error-message">{{ message }}</div>
                    {{/if}}
                  <br><br>
                  <button class="btn btn-secondary btn-sm">Create Board</button>
                </form>
        </div> --}}
        <!-- USER BOARDS TITLE END -->


		</div>
	</div>
</div>
<br>
<br>
​
<script src="/javascripts/userProfile-DOM.js"></script>